// ********************* global styles *************************
:global {

    // reset common style
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    html {
        height: 100%;
    }

    body {
        background-color: #f5f5f9;
        height: 100%;
    }

    #__next {
        height: 100%;
    }

    .logo-icon {
        margin: 0;
        color: #fff;
        font-size: 16px;
        display: block;
        min-width: 64px;
        height: 28px;
    }

    .global-error {
        position: fixed !important;
        top: 60px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .layout {
        height: 100%;
        background-color: #F8F8F8;
    }

    .ui.modals.visible {
        display: flex !important;
    }

    .ui.modal {
        width: auto !important;
        padding: 12px;
    }

    .ui.steps {
        width: 100%;
    }

    .watermarkWrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

